#Manage by ansible and set by cloud-init at each boot

127.0.1.1 {{ inventory_hostname }} {{ inventory_hostname }}.dpl.lab
127.0.0.1 localhost

{% for host in groups['all'] %}
{{ hostvars[host]['ansible_host'] }} {{ host }}.dpl.lab {{ host }}
{% endfor %}
