[defaults]
inventory = ./inventory/
stdout_callback = yaml
display_skipped_hosts = False
deprecation_warnings=False
remote_tmp = /tmp/ansible-tmp
local_tmp  = /tmp/ansible-local-tmp
remote_user_tmp = /tmp/ansible-${USER}-tmp

[inventory]
enable_plugins = yaml, ini, host_list, script
