server.name: {{ inventory_hostname }}
server.host: {{ server_host }}
server.port: {{ server_port }}

elasticsearch.hosts: {{ elastic_host }}

xpack.security.enabled: false
xpack.reporting.enabled: false
xpack.monitoring.ui.enabled: true
