elasticsearch.username: "kibana_system"
elasticsearch.password: "{{ default_kibana_system_password }}"

#elasticsearch.ssl.certificateAuthorities: ['/etc/kibana/certs/elastic-ca.crt']
#elasticsearch.ssl.verificationMode: certificate
elasticsearch.ssl.verificationMode: none 
